
.loginbox{
    width:100%;
    height:auto;
    background-color:#fff;
    padding:0 1rem;
    box-sizing: border-box;
}
.logoimg{
    width:100%;
    height:8rem;
    overflow: hidden;
    margin:8rem auto 6rem;
    background-color:#fff;
    text-align: center;
}
.logoimg img{
    width:8rem;
    height:8rem;
}
.login{
    margin-top:3rem;
}
